@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900&display=swap');
* {
  padding: 0;
  margin: 0;
}
::selection {
  background-color: #333333;
  color: white;
}
html,
body {
  background: #FBF9F4;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
h1,
h2,
h3 {
  line-height: 1.3em;
  font-weight: 700;
  font-family: playfair display, serif;
  letter-spacing: 0;
}
h1,
h2,
h3 {
  margin: 25px 0;
}
h4,
h5,
h6 {
  font-weight: 400;
  font-family: open sans, sans-serif;
}
h4,
h5,
h6,
ol,
pre,
ul {
  margin: 15px 0;
}
h1 {
  font-size: 68px;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0;
  color: #555;
  font-weight: 300;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 11px;
  color: #909090;
}
p {
  margin: 10px 0;
}
.stroke {
  display: inline-block;
  position: relative;
}
.stroke:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(-9deg) translate(-50%,-50%);
  transform: rotate(-9deg) translate(-50%,-50%);
}
#header {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 3;
  transition: all .4s;
}
#header h1.company {
  background: url('../images/risto-logo-escuro.png') center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 60px;
  text-indent: -9999px;
  transition: all .4s;
  margin: 0;
}
#header .navigation {
  margin: 0;
  text-align: center;
}
#header .navigation.right {
  padding: 0;
  text-align: right;
}
#header .navigation li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  margin: 0 17px;
}
#header .navigation li a {
  font-size: 13px;
  line-height: 60px;
  font-weight: 600;
  color: #2e2721;
  letter-spacing: 1px;
  text-decoration: none;
}
#header .navigation li a i {
  line-height: 60px;
  font-size: 24px;
}
#welcome-banner {
  width: 100%;
  height: 100vh;
  background: url('../images/slider/20191231/ravioli-redondo-no-prato-branco-com-garfo-prata-ao-lado.png');
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}
#welcome-banner .container {
  height: 100vh;
  position: relative;
}
#welcome-banner .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  background: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(0,0,0,0.72) 100%);
}
#welcome-banner .ls-risto-20191231001556 {
  position: absolute;
  top: calc(70%);
  width: 100%;
  max-width: 600px;
  text-align: left;
  transform: translate(0,-50%);
}
#welcome-banner .ls-risto-20191231001556 p.verano {
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.2em;
  background: #c6343f;
  color: #FFFFFF;
  padding: 6px 12px;
}
#welcome-banner .ls-risto-20191231001556 p.description {
  display: inline-block;
  font-size: 1.2em;
  color: #ffffff;
  line-height: 30px;
}
#welcome-banner .ls-risto-20191231001556 h4 {
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  display: block;
  font-size: 4em;
  color: #FFFFFF;
  padding: 6px 0;
}
#welcome-banner .ls-risto-20191231001556 a.target {
  display: block;
  margin-top: 22px;
  font-size: 1.1em;
}
.section {
  padding: 105px 0;
  display: block;
}
.section.bg.white {
  background: #FFFFFF;
}
.section.bg.yellow {
  background: #FBF9F4;
}
.section.bg.grey {
  background: #EBEBEB;
}
.section .section-title {
  font-size: 42px;
  font-weight: 600;
  line-height: 63px;
  text-transform: Uppercase;
  letter-spacing: 3px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin: 12px 0;
}
.section .section-subtitle {
  margin: 0;
  color: #333;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
}
.section .section-subline {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0;
  color: #555;
}
.text.center {
  text-align: center;
}
.text.right {
  text-align: right;
}
.product-list .product-heading {
  font-weight: 900;
}
.product-list .product-heading:before {
  display: inline-block;
  content: "";
  background: #000;
  width: 22px;
  height: 22px;
  position: relative;
  top: 4px;
  margin-right: 10px;
}
.product-list .gnc60 {
  padding-top: 60px;
}
.product-list.horizontal-space {
  margin-top: 30px;
}
.product-list .product-item {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-top: 38px;
}
.product-list .product-item:first-child {
  margin-top: 0;
}
.product-list .product-item .product-detail.name {
  font-size: 15px;
  line-height: 23px;
  width: calc(100% - 120px);
  box-sizing: border-box;
  text-transform: uppercase;
}
.product-list .product-item .product-detail.name .stamp {
  margin-left: 5px;
  font-size: 14px;
}
.product-list .product-item .product-detail.price {
  font-size: 15px;
  line-height: 23px;
  width: 120px;
  vertical-align: middle;
  text-align: right;
}
.product-list .product-item .product-detail.price span {
  margin-right: 10px;
  text-align: right;
}
.product-list .product-item .product-detail.description {
  width: calc(100% - 74px);
  box-sizing: border-box;
  vertical-align: middle;
  text-align: left;
  line-height: 30px;
  font-size: 15px;
  color: #989898;
}
.product-list .product-item .product-detail.action {
  position: relative;
  top: 2px;
  width: 74px;
}
.product-list .product-item .product-detail.action .btn {
  background: none;
}
.product-list .product-item .product-detail.action .btn:hover {
  background: #333333;
}
figure {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 90px -4px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 90px -4px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 90px -4px rgba(0,0,0,0.28);
}
figure.rounded {
  border-radius: 7px;
}
figure img {
  width: 100%;
  position: relative;
  z-index: 1;
}
figure figcaption {
  width: 100%;
  min-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  background: linear-gradient(180deg,rgba(255,255,255,0) 55%,rgba(0,0,0,0.92) 100%);
  z-index: 3;
  color: #FFFFFF;
  padding: 40px 20px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(150,150,150,0.68);
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
}
.stamp {
  display: inline-block;
  color: #2d2d2d;
  font-size: 10px;
  padding: 0 5px;
  position: relative;
  top: -2px;
}
.stamp.traditional {
  color: #333333;
}
.stamp.traditional:before {
  font-weight: bold;
  font-family: 'Line Awesome Free', serif;
  content: "\f005";
}
.btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  outline: 0;
  font-style: normal;
  font-weight: 600;
  font-family: open sans, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  background: #FFFFFF;
  border: none;
  padding: 5px 10px;
}
.btn:hover {
  color: #FFFFFF;
  background: #2d2d2d;
}
.btn.large {
  background: none;
  border: 2px #333333 solid;
  padding: 16px 36px 20px;
  font-size: 13px;
  line-height: 14px;
}
.btn.large:hover {
  color: #FFFFFF;
  background: #2d2d2d;
}
.btn.large.white {
  border-color: #ccc;
  color: #ccc;
}
.target {
  color: #FFFFFF;
  text-decoration: none;
}
.target.black {
  color: #11141b;
}
.target:after {
  content: "";
  font-family: 'Line Awesome Free', sans-serif;
  font-weight: 900;
  position: relative;
  top: 2px;
  margin-left: 5px;
  font-size: 1.1em;
  transition: all .3s;
}
.target.target:after {
  content: "\f105";
}
.target.bag:after {
  content: "\f290";
}
.target:hover:after {
  margin-left: 10px;
  transition: all .3s;
}
#footer {
  position: relative;
  background-color: #1b1b1b;
  padding: 40px 0;
}
#footer h5 {
  font-size: 20px;
  color: #ffffff;
}
#footer h6 {
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 27px;
}
#footer p {
  font-size: 14px;
  line-height: 24px;
  color: #d4d4d4;
}
#footer .footer-menu li {
  list-style: none;
  color: #d4d4d4;
  font-size: 14px;
  line-height: 34px;
}
#footer .footer-menu li i {
  font-size: 1.4em;
  position: relative;
  top: 3px;
}
#footer .footer-menu-cards li {
  display: inline-block;
  list-style: none;
  color: #d4d4d4;
  font-size: 14px;
  line-height: 34px;
}
#footer .footer-menu-cards li i {
  font-size: 2.4em;
  position: relative;
  top: 3px;
}
