@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900&display=swap');
* {
  padding: 0;
  margin: 0;
}
::selection {
  background-color: #333333;
  color: white;
}
html,
body {
  background: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  overflow: hidden;
}
h1,
h2,
h3 {
  line-height: 1.3em;
  font-weight: 700;
  font-family: playfair display, serif;
  letter-spacing: 0;
}
h1,
h2,
h3 {
  margin: 15px 0;
}
h3 {
  font-size: 38px;
  margin-bottom: 25px;
}
p {
  margin: 10px 0;
}
.btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  outline: 0;
  font-style: normal;
  font-weight: 600;
  font-family: open sans, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  background: #FFFFFF;
  border: none;
  padding: 5px 10px;
}
.btn:hover {
  color: #FFFFFF;
  background: #2d2d2d;
}
.btn.large {
  width: 100%;
  background: none;
  border: 2px #333333 solid;
  padding: 11px 20px;
  font-size: 13px;
  line-height: 14px;
  display: block;
}
.btn.large:hover {
  color: #FFFFFF;
  background: #2d2d2d;
}
.btn.large.white {
  border-color: #ccc;
  color: #ccc;
}
@-webkit-keyframes example {
  from {
    top: 55%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    top: 55%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
.clearfix {
  clear: both;
}
.authenticate-box {
  width: 95%;
  max-width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-box-shadow: 0px 0px 73px 0px rgba(0,0,0,0.1054);
  -moz-box-shadow: 0px 0px 73px 0px rgba(0,0,0,0.1054);
  box-shadow: 0px 0px 73px 0px rgba(0,0,0,0.1054);
  padding: 0;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 4s;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.authenticate-box .col-lg-12 {
  padding: 0;
  margin: 0;
}
.authenticate-box .auth-form {
  padding: 30px;
  box-sizing: border-box;
}
.authenticate-box .half {
  position: relative;
}
.authenticate-box .half input[type="text"] {
  float: left;
  width: 55% !important;
}
.authenticate-box .half .complete {
  background: #fafafa;
  float: right;
  display: inline-block;
  width: 45%;
  overflow: hidden;
  font-size: 12px;
  line-height: 27px;
  padding: 4px 0;
  text-indent: 7px;
}
.authenticate-box .input-block {
  display: block;
  margin: 13px 0;
}
.authenticate-box .input-block label {
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}
.authenticate-box .input-block input[type="text"],
.authenticate-box .input-block input[type="password"] {
  width: 100%;
  border: 1px rgba(0,0,0,0.1) solid;
  margin: 5px 0;
  box-sizing: border-box;
  padding: 5px;
  font-size: 13px;
  font-weight: 500;
}
.left-banner {
  background: url('../images/intranet-login-banner.png') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 400px;
}
@media (max-width: 1200px) {
  .left-banner {
    background: url('../images/intranet-login-banner.png') top center no-repeat;
    background-size: cover;
    min-height: 120px;
  }
}
.target {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
}
.target.black {
  color: #11141b;
}
.target:before {
  content: "";
  font-family: 'Line Awesome Free', sans-serif;
  font-weight: 900;
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-size: 1.1em;
  transition: all .3s;
}
.target.target:before {
  content: "\f104";
}
.target:hover:before {
  margin-right: 10px;
  transition: all .3s;
}
